@import url('https://fonts.googleapis.com/css?family=Roboto');

$black: rgb(20, 20, 20);
$green: rgb(100, 238, 73);
$grey: rgba(255, 255, 255, 0.685);
$light-black: rgb(24, 24, 24);
$dark-grey: rgb(41, 41, 41);
$red: rgb(238, 73, 73);
